infisical_secret_key=
INFISICAL_URL=
INFISICAL_WORKSPACE_ID=
INFISICAL_PROJECT_SLUG=
INFISICAL_ENVIRONMENT=
PUBLIC_IP=
ESUS_PEC_LXC_CTID=
ESUS_PEC_LXC_IP=
ESUS_PEC_PROXY_LXC_CTID=
ESUS_PEC_PROXY_LXC_IP=
ESUS_PEC_PROXY_LXC_NAME=
ESUS_PEC_PUBLIC_DOMAIN=
ESUS_PEC_SERVER_TIMEZONE=
LETSENCRYPT_EMAIL=
user_esus_presidenteepitacio=
password_esus_presidenteepitacio=
OBSIDIAN_REST_API_KEY=
siha_username=
siha_password=
siha_machine_name=
siha_machine_ip=
