infisical_secret_key=
INFISICAL_URL=
INFISICAL_WORKSPACE_ID=
INFISICAL_PROJECT_SLUG=
INFISICAL_ENVIRONMENT=
user_esus_presidenteepitacio=
password_esus_presidenteepitacio=
OBSIDIAN_REST_API_KEY=
siha_username=
siha_password=
siha_machine_name=
siha_machine_ip=
