infisical_secret_key=
INFISICAL_URL=
INFISICAL_WORKSPACE_ID=
INFISICAL_PROJECT_SLUG=
INFISICAL_ENVIRONMENT=
PUBLIC_IP=
ESUS_PEC_LXC_CTID=
ESUS_PEC_LXC_IP=
ESUS_PEC_PUBLIC_DOMAIN=
ESUS_PEC_PUBLIC_BASE_URL=
ESUS_PEC_EXTERNAL_BASE_URL=
ESUS_PEC_LXC_TEST_HTTPS_URL=
ESUS_PEC_PRODUCTION_DOMAIN=
ESUS_PEC_PRODUCTION_UPSTREAM_URL=
EDGE_PROXY_LXC_CTID=
EDGE_PROXY_LXC_IP=
EDGE_PROXY_LXC_NAME=
EDGE_PROXY_ESUS_DEV_DOMAIN=
EDGE_PROXY_ESUS_DEV_UPSTREAM_URL=
EDGE_PROXY_S3_DOMAIN=
EDGE_PROXY_S3_UPSTREAM_URL=
EDGE_PROXY_MINIO_DOMAIN=
EDGE_PROXY_MINIO_UPSTREAM_URL=
EDGE_PROXY_INFISICAL_DOMAIN=
EDGE_PROXY_INFISICAL_UPSTREAM_URL=
EDGE_PROXY_PROXMOX_DOMAIN=
EDGE_PROXY_PROXMOX_UPSTREAM_URL=
EDGE_PROXY_GRAFANA_DOMAIN=
EDGE_PROXY_GRAFANA_UPSTREAM_URL=
EDGE_PROXY_PROMETHEUS_DOMAIN=
EDGE_PROXY_PROMETHEUS_UPSTREAM_URL=
EDGE_PROXY_PROMETHEUS_BASIC_AUTH_HTPASSWD=
EDGE_PROXY_PROMETHEUS_BASIC_AUTH_USERNAME=
EDGE_PROXY_PROMETHEUS_BASIC_AUTH_PASSWORD=
CLOUDFLARE_ZONE_ID_VINISANTANA=
CLOUDFLARE_ZONE_NAME_VINISANTANA=
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_API_TOKEN=
CLOUDFLARE_TOKEN=
ESUS_PEC_OBJECT_STORAGE_PUBLIC_API_URL=
ESUS_PEC_OBJECT_STORAGE_PUBLIC_CONSOLE_URL=
INFISICAL_PUBLIC_URL=
PROXMOX_PUBLIC_URL=
prometheus_url=
ESUS_PEC_SERVER_TIMEZONE=
LETSENCRYPT_EMAIL=
user_esus_presidenteepitacio=
password_esus_presidenteepitacio=
OBSIDIAN_REST_API_KEY=
siha_username=
siha_password=
siha_machine_name=
siha_machine_ip=
