config/*
*.pkrvars.hcl
!*.pkrvars.hcl.example

env/*
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test
.env.production
.env.local
.env.development.local
.env.test.local
.env.production.local

.iso/*
*.log
.Codex/*
.Codex
logs/*
logs
excalidraw.log
packer_cache/
